<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.wordsmith</string>
	<key>connections</key>
	<dict>
		<key>17286861-08D9-4A16-8C5A-CA217F84BEF6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A349A2FA-4FA7-49E4-9FCA-46F8971D70FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7BD2E051-6B3E-41D0-A22B-BFE979B83771</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22D380A0-328C-414D-8EAE-191DF1B741DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7BD2E051-6B3E-41D0-A22B-BFE979B83771</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open in Dictionary</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CF4CD92A-19BA-4E33-99CB-BC4C5B74A1D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3276ECC3-980D-448D-9319-A452CF48BD53</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Search in thesaurus</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>281104EB-6F1F-474F-9276-C88C78E5E1EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FFEFF3A-A05A-4DC2-9EAF-C63B2247B129</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33210216-59B9-4289-8BDE-54776A208970</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>17286861-08D9-4A16-8C5A-CA217F84BEF6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>37CB0C24-89EF-43D0-96EA-E196EF83AF5A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF40A4F0-2023-4934-BC46-64046BB5F4E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DE3E6B4F-F3E7-4607-9986-F7B646F42625</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BD27F224-D145-465F-B4F2-65CBC2EE3950</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3AA51BD1-D8F8-4ECF-9722-BEB85C94247D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0BDA9F1-F276-47B6-A249-84D64EAAFCC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>816FB50B-29FF-4249-BF5C-A502021E163A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4635B5CF-D818-4BE0-8AEB-E4197514CD93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22D380A0-328C-414D-8EAE-191DF1B741DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>49E598D0-A169-462C-92E8-A99A177340DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3AB059ED-5496-4B30-A3F3-1BA95BF5422C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>56A0A630-177F-4326-A4DA-25B6D27EA164</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4635B5CF-D818-4BE0-8AEB-E4197514CD93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5FDA4191-D129-4B6C-B1E3-D67C45EBE1C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90253E1B-A549-4756-A3EA-D36CF9CD60FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DE3E6B4F-F3E7-4607-9986-F7B646F42625</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>49E598D0-A169-462C-92E8-A99A177340DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6AE2CD1C-7844-421D-91CC-F87A9621C1BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75800AEF-8A82-4967-8AE0-6AFBC2D6354F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>6FFEFF3A-A05A-4DC2-9EAF-C63B2247B129</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E61147AE-3F77-47A7-81E0-13E114068BBC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>752F3179-6BFE-4C8C-90FE-50CB814AF9E0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>343F3031-7039-4F99-9081-666058EC6552</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>75800AEF-8A82-4967-8AE0-6AFBC2D6354F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22D380A0-328C-414D-8EAE-191DF1B741DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>816FB50B-29FF-4249-BF5C-A502021E163A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A05B8E8C-2A45-420E-810D-60362BEACEF7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>889CC927-D120-4D42-AB3E-9453E21F82EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22D380A0-328C-414D-8EAE-191DF1B741DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D35EC64-E7B4-4826-9A84-233913C62631</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>17286861-08D9-4A16-8C5A-CA217F84BEF6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A05B8E8C-2A45-420E-810D-60362BEACEF7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5FDA4191-D129-4B6C-B1E3-D67C45EBE1C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A349A2FA-4FA7-49E4-9FCA-46F8971D70FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D34E1A51-6245-4782-9005-F35D7FA07523</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B97834D1-E2FB-42A3-A59F-435CF6993F6E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>17286861-08D9-4A16-8C5A-CA217F84BEF6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD27F224-D145-465F-B4F2-65CBC2EE3950</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36AE52B7-01FE-48D4-94B2-D8A15BD3B4B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0805920-E8E3-4C13-8F0B-07BC64C32BD7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B97834D1-E2FB-42A3-A59F-435CF6993F6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF4CD92A-19BA-4E33-99CB-BC4C5B74A1D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FFEFF3A-A05A-4DC2-9EAF-C63B2247B129</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D34E1A51-6245-4782-9005-F35D7FA07523</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D58DBAE4-1D60-4C59-B7F0-B1AEAB6E9826</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Lookup more definitions</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>281104EB-6F1F-474F-9276-C88C78E5E1EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F7EC61EF-72E6-4E65-8344-D2704C9635BD</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Lookup in thesaurus</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7BD2E051-6B3E-41D0-A22B-BFE979B83771</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open in Dictionary</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E506BFCC-101D-4D37-983D-40C627748C45</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D35EC64-E7B4-4826-9A84-233913C62631</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>E803F992-9087-4D12-B5F3-9406F0C428EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37CB0C24-89EF-43D0-96EA-E196EF83AF5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0BDA9F1-F276-47B6-A249-84D64EAAFCC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E803F992-9087-4D12-B5F3-9406F0C428EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Local dictionary and thesaurus to lookup synonyms, anthonyms, and definitions</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Wordsmith</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>dictionary</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>D58DBAE4-1D60-4C59-B7F0-B1AEAB6E9826</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>2</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>D</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.runningwithcrayons.Alfred-Preferences</string>
					<string>com.seriflabs.affinityphoto2</string>
					<string>com.seriflabs.affinitydesigner2</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C0805920-E8E3-4C13-8F0B-07BC64C32BD7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>replace</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B97834D1-E2FB-42A3-A59F-435CF6993F6E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string># Escape words for SQLite joined queries
readonly escaped_words="${word_list//'/''/}"
# Split into array
readonly split_words=("${(s:, :)escaped_words}")
# All given words
readonly joined_where="$(printf "'%s'," "${split_words[@]}" | sed 's/,$//')"
# Keep given word order
readonly joined_order="$(printf "word = '%s' DESC," "${split_words[@]}" | sed 's/,$//')"

/usr/bin/sqlite3 \
  "${alfred_workflow_data}/dictionary.sqlite3" \
  "SELECT JSON_OBJECT('items', JSON_GROUP_ARRAY(JSON_OBJECT(
    'title', word,
    'subtitle', definition,
    'arg', word)))
  AS JSON_RESULT FROM (SELECT word, definition FROM definitions
    WHERE word IN (${joined_where})
    GROUP BY word -- Show only one definition
    ORDER BY ${joined_order})"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D34E1A51-6245-4782-9005-F35D7FA07523</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:thesaurus_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Querying thesaurus…</string>
				<key>script</key>
				<string>readonly word="${1}"
readonly capitalised="${(C)word}"

/usr/bin/sqlite3 \
  "${alfred_workflow_data}/thesaurus.sqlite3" \
  ".param set :query '${capitalised}'" \
  "SELECT JSON_OBJECT('items', JSON_GROUP_ARRAY(JSON_OBJECT(
    'title', main,
    'subtitle', synonyms,
    'arg', IIF(synonyms IS NOT NULL, main || ', ' || synonyms, main),
    'mods', JSON_OBJECT(
      'shift', JSON_OBJECT('subtitle', 'Open “' || :query || '” in dictionary', 'arg', :query),
      'cmd', IIF(phrase IS NOT NULL,
        JSON_OBJECT('subtitle', phrase, 'valid', false),
        JSON_OBJECT('subtitle', '[No example phrase]', 'valid', false)),
      'alt', IIF(antonyms IS NOT NULL,
        JSON_OBJECT('subtitle', antonyms, 'arg', antonyms),
        JSON_OBJECT('subtitle', '[No antonyms]', 'valid', false))))))
  AS JSON_RESULT FROM (SELECT phrase, main, synonyms, antonyms FROM thesaurus WHERE word = :query)"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Find synonyms and antonyms</string>
				<key>title</key>
				<string>Thesaurus</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>17286861-08D9-4A16-8C5A-CA217F84BEF6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>thesaurus</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>33210216-59B9-4289-8BDE-54776A208970</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>word_list</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A349A2FA-4FA7-49E4-9FCA-46F8971D70FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>281104EB-6F1F-474F-9276-C88C78E5E1EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>thesaurus</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>F7EC61EF-72E6-4E65-8344-D2704C9635BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Look Up in Thesaurus</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>E506BFCC-101D-4D37-983D-40C627748C45</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>replace</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8D35EC64-E7B4-4826-9A84-233913C62631</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E61147AE-3F77-47A7-81E0-13E114068BBC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>dict://{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7BD2E051-6B3E-41D0-A22B-BFE979B83771</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:replace}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Replace</string>
						<key>uid</key>
						<string>752F3179-6BFE-4C8C-90FE-50CB814AF9E0</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Do Not Replace</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6FFEFF3A-A05A-4DC2-9EAF-C63B2247B129</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.runningwithcrayons.Alfred-Preferences</string>
					<string>com.seriflabs.affinityphoto2</string>
					<string>com.seriflabs.affinitydesigner2</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>56A0A630-177F-4326-A4DA-25B6D27EA164</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>343F3031-7039-4F99-9081-666058EC6552</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>replace</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4635B5CF-D818-4BE0-8AEB-E4197514CD93</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Not Found</string>
						<key>uid</key>
						<string>97B2CB02-FB9A-46CA-B423-0697B1509DB3</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>FC9ACA18-B105-4B7E-905C-33B97A55DD98</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>dictionary</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>889CC927-D120-4D42-AB3E-9453E21F82EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:dictionary_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Querying dictionary…</string>
				<key>script</key>
				<string>readonly word="${1}"
readonly capitalised="${(C)word}"

/usr/bin/sqlite3 \
  "${alfred_workflow_data}/dictionary.sqlite3" \
  ".param set :query '${capitalised}'" \
  "SELECT JSON_OBJECT('items', JSON_GROUP_ARRAY(JSON_OBJECT(
    'title', word,
    'subtitle', definition,
    'arg', word)))
  AS JSON_RESULT FROM (SELECT word, definition FROM definitions WHERE word = :query)"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Find word definitions</string>
				<key>title</key>
				<string>Dictionary</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>22D380A0-328C-414D-8EAE-191DF1B741DF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>CF4CD92A-19BA-4E33-99CB-BC4C5B74A1D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>thesaurus</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>3276ECC3-980D-448D-9319-A452CF48BD53</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Look Up in Dictionary</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>6AE2CD1C-7844-421D-91CC-F87A9621C1BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>replace</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>75800AEF-8A82-4967-8AE0-6AFBC2D6354F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/find '/System/Library/AssetsV2/com_apple_MobileAsset_DictionaryServices_dictionaryOSX' -name "Oxford Dictionary of English.dictionary"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F0BDA9F1-F276-47B6-A249-84D64EAAFCC2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Close</string>
				<key>button2</key>
				<string></string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>You need to install the Oxford Dictionary of English from macOS’s Dictionary.app before you can build the database</string>
				<key>title</key>
				<string>Dictionary Not Found</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>FF40A4F0-2023-4934-BC46-64046BB5F4E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Not Found</string>
						<key>uid</key>
						<string>DE3E6B4F-F3E7-4607-9986-F7B646F42625</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Build</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>37CB0C24-89EF-43D0-96EA-E196EF83AF5A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>E803F992-9087-4D12-B5F3-9406F0C428EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Tigger it with the "{var:dictionary_keyword}" keyword</string>
				<key>title</key>
				<string>Finished Building Dictionary</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>36AE52B7-01FE-48D4-94B2-D8A15BD3B4B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>readonly tmp_dir="$(mktemp -d)"
trap 'rm -rf "${tmp_dir}"' EXIT

/bin/mkdir -p "${alfred_workflow_data}"
./dict_to_xml "${1}" "${tmp_dir}/dict.xml"

./oxford_dictionary_of_english "${tmp_dir}/dict.xml" "${alfred_workflow_data}/dictionary.sqlite3"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BD27F224-D145-465F-B4F2-65CBC2EE3950</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>:wordsmithbuild</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Make sure you have the correct dictionaries installed</string>
				<key>text</key>
				<string>Build Dictionary and Thesaurus</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3AA51BD1-D8F8-4ECF-9722-BEB85C94247D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/find '/System/Library/AssetsV2/com_apple_MobileAsset_DictionaryServices_dictionaryOSX' -name "Oxford American Writer's Thesaurus.dictionary"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>816FB50B-29FF-4249-BF5C-A502021E163A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Not Found</string>
						<key>uid</key>
						<string>DE3E6B4F-F3E7-4607-9986-F7B646F42625</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Build</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>5FDA4191-D129-4B6C-B1E3-D67C45EBE1C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>A05B8E8C-2A45-420E-810D-60362BEACEF7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Close</string>
				<key>button2</key>
				<string></string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>You need to install the Oxford American Writer’s Thesaurus from macOS’s Dictionary.app before you can build the database</string>
				<key>title</key>
				<string>Thesaurus Not Found</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>90253E1B-A549-4756-A3EA-D36CF9CD60FB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Tigger it with the "{var:thesaurus_keyword}" keyword</string>
				<key>title</key>
				<string>Finished Building Thesaurus</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3AB059ED-5496-4B30-A3F3-1BA95BF5422C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>readonly tmp_dir="$(mktemp -d)"
trap 'rm -rf "${tmp_dir}"' EXIT

/bin/mkdir -p "${alfred_workflow_data}"
./dict_to_xml "${1}" "${tmp_dir}/dict.xml"

./oxford_american_writers_thesaurus "${tmp_dir}/dict.xml" "${alfred_workflow_data}/thesaurus.sqlite3"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>49E598D0-A169-462C-92E8-A99A177340DC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Setup

Open Dictionary.app. In the menubar: `Dictionary` → `Settings…`. Install the Oxford Dictionary of English and the Oxford American Writer’s Thesaurus.

Build their databases with the `:wordsmithbuild` keyword.

![Buidling definitions](images/about/build.png)

## Usage

### Thesaurus

Search for synonyms via the `the` keyword.

![Searching thesaurus](images/about/thesaurus.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Show all synonyms in the current entry, with definitions.
* &lt;kbd&gt;⌘&lt;/kbd&gt; Show example phrase with the original word.
* &lt;kbd&gt;⌥&lt;/kbd&gt; Show antonyms. &lt;kbd&gt;↩&lt;/kbd&gt; to show all in the current entry, with definitions.
* &lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Open original word in Dictionary.

When listing all entries from the thesaurus, each word shows a single definition.

![Seeing thesaurus definitions](images/about/thesaurusdefs.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Copy word to clipboard. Pastes to frontmost app if activated via the Universal Action.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Lookup in thesaurus.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Lookup more definitions.
* &lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Open in Dictionary.

### Dictionary

Search for word definitions with the `def` keyword.

![Searching dictionary](images/about/dictionary.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Copy word to clipboard. Pastes to frontmost app if activated via the Universal Action.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Lookup in thesaurus.
* &lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Open in Dictionary.

### Universal Actions

Both the thesaurus and dictionary can be accessed via [Universal Actions](https://www.alfredapp.com/help/features/universal-actions/). With this method, a word selected with &lt;kbd&gt;↩&lt;/kbd&gt; pastes to the frontmost app.

![Universal Actions](images/about/ua.png)

Configure the [Hotkeys](https://www.alfredapp.com/help/workflows/triggers/hotkey/) for faster triggering.</string>
	<key>uidata</key>
	<dict>
		<key>17286861-08D9-4A16-8C5A-CA217F84BEF6</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>22D380A0-328C-414D-8EAE-191DF1B741DF</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>725</real>
		</dict>
		<key>281104EB-6F1F-474F-9276-C88C78E5E1EC</key>
		<dict>
			<key>xpos</key>
			<real>835</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>3276ECC3-980D-448D-9319-A452CF48BD53</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>800</real>
			<key>ypos</key>
			<real>855</real>
		</dict>
		<key>33210216-59B9-4289-8BDE-54776A208970</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>343F3031-7039-4F99-9081-666058EC6552</key>
		<dict>
			<key>xpos</key>
			<real>1295</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>36AE52B7-01FE-48D4-94B2-D8A15BD3B4B9</key>
		<dict>
			<key>xpos</key>
			<real>1125</real>
			<key>ypos</key>
			<real>1150</real>
		</dict>
		<key>37CB0C24-89EF-43D0-96EA-E196EF83AF5A</key>
		<dict>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>1095</real>
		</dict>
		<key>3AA51BD1-D8F8-4ECF-9722-BEB85C94247D</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>1150</real>
		</dict>
		<key>3AB059ED-5496-4B30-A3F3-1BA95BF5422C</key>
		<dict>
			<key>xpos</key>
			<real>1125</real>
			<key>ypos</key>
			<real>1330</real>
		</dict>
		<key>4635B5CF-D818-4BE0-8AEB-E4197514CD93</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>49E598D0-A169-462C-92E8-A99A177340DC</key>
		<dict>
			<key>xpos</key>
			<real>800</real>
			<key>ypos</key>
			<real>1330</real>
		</dict>
		<key>56A0A630-177F-4326-A4DA-25B6D27EA164</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>5FDA4191-D129-4B6C-B1E3-D67C45EBE1C2</key>
		<dict>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>1250</real>
		</dict>
		<key>6AE2CD1C-7844-421D-91CC-F87A9621C1BB</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>860</real>
		</dict>
		<key>6FFEFF3A-A05A-4DC2-9EAF-C63B2247B129</key>
		<dict>
			<key>xpos</key>
			<real>1135</real>
			<key>ypos</key>
			<real>555</real>
		</dict>
		<key>75800AEF-8A82-4967-8AE0-6AFBC2D6354F</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>7BD2E051-6B3E-41D0-A22B-BFE979B83771</key>
		<dict>
			<key>xpos</key>
			<real>800</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>816FB50B-29FF-4249-BF5C-A502021E163A</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>1230</real>
		</dict>
		<key>889CC927-D120-4D42-AB3E-9453E21F82EF</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>725</real>
		</dict>
		<key>8D35EC64-E7B4-4826-9A84-233913C62631</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>90253E1B-A549-4756-A3EA-D36CF9CD60FB</key>
		<dict>
			<key>xpos</key>
			<real>840</real>
			<key>ypos</key>
			<real>1270</real>
		</dict>
		<key>A05B8E8C-2A45-420E-810D-60362BEACEF7</key>
		<dict>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>1260</real>
		</dict>
		<key>A349A2FA-4FA7-49E4-9FCA-46F8971D70FE</key>
		<dict>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>B97834D1-E2FB-42A3-A59F-435CF6993F6E</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>BD27F224-D145-465F-B4F2-65CBC2EE3950</key>
		<dict>
			<key>xpos</key>
			<real>800</real>
			<key>ypos</key>
			<real>1150</real>
		</dict>
		<key>C0805920-E8E3-4C13-8F0B-07BC64C32BD7</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>CF4CD92A-19BA-4E33-99CB-BC4C5B74A1D8</key>
		<dict>
			<key>xpos</key>
			<real>835</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>D34E1A51-6245-4782-9005-F35D7FA07523</key>
		<dict>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>D58DBAE4-1D60-4C59-B7F0-B1AEAB6E9826</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>800</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>E506BFCC-101D-4D37-983D-40C627748C45</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>E61147AE-3F77-47A7-81E0-13E114068BBC</key>
		<dict>
			<key>xpos</key>
			<real>1290</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>E803F992-9087-4D12-B5F3-9406F0C428EE</key>
		<dict>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>1105</real>
		</dict>
		<key>F0BDA9F1-F276-47B6-A249-84D64EAAFCC2</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>1075</real>
		</dict>
		<key>F7EC61EF-72E6-4E65-8344-D2704C9635BD</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>800</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>FC9ACA18-B105-4B7E-905C-33B97A55DD98</key>
		<dict>
			<key>xpos</key>
			<real>835</real>
			<key>ypos</key>
			<real>665</real>
		</dict>
		<key>FF40A4F0-2023-4934-BC46-64046BB5F4E4</key>
		<dict>
			<key>xpos</key>
			<real>840</real>
			<key>ypos</key>
			<real>1090</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>the</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Thesaurus Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>thesaurus_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>def</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Dictionary Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>dictionary_keyword</string>
		</dict>
	</array>
	<key>version</key>
	<string>2025.1</string>
	<key>webaddress</key>
	<string>https://github.com/vitorgalvao/wordsmith-workflow/</string>
</dict>
</plist>
